<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>INF551</title>

    <!-- Bootstrap core CSS -->
      {% include "html_reference.html" %}
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <i class="fas fa-music fa-2x"></i>
        <a class="navbar-brand" href="#">
          Music Collection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
            <input class="form-control mr-sm-2 searchMetadata" type="text" placeholder="Search" aria-label="Search">
        </div>
      </nav>
    </header>
      <div class="container-fluid">
        <nav class="col-md-3 sidebar collapsed" role="navigation">
            <div class="sidebar-sticky">
                <div class="logo"><p>KEY WORDS</p>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item side-nav">
                        <div class="nav-link">
                          <i class="fas fa-user fa-lg"></i>
                          <input type="checkbox" class="nav-link-cb">
                          <i class="far fa-square"></i>
                          <label class="link-text">ARTISTS</label>
                        </div>
                        <ul class="nav-items"></ul>
                    </li>
                    <li class="nav-item side-nav">
                        <div class="nav-link">
                            <i class="fas fa-cubes fa-lg"></i>
                            <input type="checkbox" class="nav-link-cb">
                            <i class="far fa-square"></i>
                            <label class="link-text">GENRES</label>
                        </div>

                        <ul class="nav-items"></ul>
                    </li>
                    <li class="nav-item side-nav">
                        <div class="nav-link">
                            <i class="fas fa-calendar fa-lg"></i>
                            <input type="checkbox" class="nav-link-cb">
                            <i class="far fa-square"></i>
                            <label class="link-text">YEARS</label>
                        </div>
                        <ul class="nav-items"></ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto px-4">
            <div class="row tot_result pl-4"></div>
            <ul class="results"></ul>
            <div class="page row"></div>
        </main>
      </div>
  </body>

</html>
